@import url('https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap');

html {
    font-family: 'Nunito', sans-serif;
}

h1{
    font-weight: 600
}

h3{
    padding-top: 0.5em;
}
.panel{
    padding-top: 2em;
}

.error, .default {
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 1em;
}

.favorite, .favorite_selected {
    color: #f44336;
}

.card .card-title {
    font-size: 20px;
    font-weight: 600;
    color: #e1f5fe;
}

.card-reveal .card-title {
    color: black;
}

.hide{
    display: none;
}
.category{
    padding-left: 3em;
}